<h1 class="mt-5">Add Product</h1>
<hr />

<form [formGroup]="MyForm">
  <div class="row g-3 align-items-center mb-5">
    <div class="col-auto">
      <label class="col-form-label">Name </label>
    </div>

    <div class="col-auto">
      <input class="form-control" formControlName="name" />
    </div>

    <div class="col-auto">
      <span
        appErroMsg
        [message]="text"
        [color]="color"
        [value]="!requiredField('name')"
      >
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="changeName()">Save</button>

      <button class="btn btn-primary" (click)="changeColor()">
        Change Color
      </button>
    </div>
  </div>
</form>

<div class="row mt-5" *appCustomIf="MyForm.valid">
  <div class="col">
    <div class="alert alert-warning">OK</div>
  </div>
</div>

<h3 class="mt-5">Form</h3>
<pre>Values : {{ MyForm.value | json }}</pre>
<pre>Valid : {{ MyForm.valid }}</pre>
